.title {
    background-color: blueviolet;
    padding: 46px 26px 26px 16px;
    color: white;
    font-weight: normal;
    
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

h1 {
    margin-bottom: 16px;
}

app-todo, app-add-todo {
    border-bottom: 1px solid #cccccc;
}

app-todo:hover {
    background-color: #068587;
    color: black;
    transition: all 1s;
    opacity: 0.9;
}